.container {
  flex-grow: 1;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.h1 {
  text-align: center;
  margin-bottom: 50px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

.card {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: auto;
  transition: transform 0.5s;
}

.card:hover img {
  transform: scale(1.1);
}

.title {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  color: black;
  padding: 15px;
  transition: opacity 0.5s;
}

.card:hover .title {
  opacity: 1;
}